{% extends 'base.html.twig' %}

{% block title %}PCpluse | {{page.title}}{% endblock %}

{% block body %}
<div  class="main_content">
    <div  class="section">
        <div  class="container">
           {{ page.content | raw  }}
        </div>
    </div>
</div>

{% endblock %}
