{% extends 'base.html.twig' %}

{% block title %}PCpluse{% endblock %}

{% block body %}

<div  class="main_content">
    <div  class="section pb_20">
        <div  class="container">
            <div  class="row">
                <div  class="col-md-6">
                    <div  class="single_banner"><img 
                            alt="shop_banner_img1"
                            src="/assets/images/megaCollection/321456.png">
                        <div  class="single_banner_info">
                            <h5  class="single_bn_title1">Meilleure vente</h5>
                            <h3  class="single_bn_title">Nouvelle collection</h3>
                        </div>
                    </div>
                </div>
                <div  class="col-md-6">
                    <div  class="single_banner"><img 
                            alt="shop_banner_img1"
                            src="/assets/images/megaCollection/321456.png">
                        <div  class="single_banner_info">
                            <h5  class="single_bn_title1">Meilleure vente</h5>
                            <h3  class="single_bn_title">Nouvelle collection</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  class="section small_pt pb_70">
        <div  class="container">
            <div  class="row justify-content-center">
                <div  class="col-md-6">
                    <div  class="heading_s1 text-center">
                        <h2 >Exclusive Products</h2>
                    </div>
                </div>
            </div>
            <div  class="row">
                <div  class="col-12">
                    <div  class="tab-style1">
                        <ul  role="tablist" class="nav nav-tabs justify-content-center">
                            <li  class="nav-item"><a 
                                    id="arrival-tab" data-bs-toggle="tab" href="#arrival" role="tab"
                                    aria-controls="arrival" aria-selected="true" class="nav-link active">New
                                    Arrival</a></li>
                            <li  class="nav-item"><a 
                                    id="sellers-tab" data-bs-toggle="tab" href="#sellers" role="tab"
                                    aria-controls="sellers" aria-selected="false" class="nav-link">Best Sellers</a>
                            </li>
                            
                            
                        </ul>
                    </div>
                    <div  class="tab-content">
                        <div  id="arrival" role="tabpanel" aria-labelledby="arrival-tab"
                            class="tab-pane fade show active">
                            <div  class="row shop_container">
                                {% for product in productsNewArrival %}
                                    {% include "product/display_product.html.twig" %}
                                {% endfor %}
                            </div>
                        </div>
                        <div  id="sellers" role="tabpanel" aria-labelledby="sellers-tab"
                            class="tab-pane fade">
                            <div  class="row shop_container">
                                 {% for product in productsBestSeller %}
                                    {% include "product/display_product.html.twig" %}
                                {% endfor %}
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
